@page "/accountdetail"
@layout MainLayoutLoggedIn
@inject betuapp.Client.States.AuthenticationState authenticationState
@inject betuapp.Client.States.DetailState detailState
@using betuapp.Shared
@using Microsoft.AspNetCore.Components
@inject HttpClient Http

<head>
    <link href="..//css/general.css" rel="stylesheet" />
    <link href="..//css/account.css" rel="stylesheet" />
</head>

<div>
    <a id="breadCrumbText" href="/partners">Partners</a>
    <a id="breadCrumbText">/</a>
    <a id="breadCrumbText" href="/accountdetail">@detailState.ClickedAccountDetail.Username</a>
</div>

<h1>Account Detail</h1>

@*Nachweis:
https://www.freepikcompany.com/legal
https://support.freepik.com/hc/en-us/articles/208976585-Attribution-How-when-and-where-*@

<div id="anonymousPerson">
    <img  src="..//Logo/anonymousperson.svg" id="anonymousImage" alt="anonymous person symbol by www.freepik.com" />
    <p style="font-size: 10px;">www.freepik.com</p>
</div>

<table>
    <tr>
        <td><b style="margin-right: 90px;">Firstname:</b></td>
        <td></td>
        <td></td>
        <td>@Firstname</td>
    </tr>
    <tr>
        <td><b>Lastname:</b></td>
        <td></td>
        <td></td>
        <td>@Lastname</td>
    </tr>
    <tr>
        <td><b>Username:</b></td>
        <td></td>
        <td></td>
        <td>@Username</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td></td>
        <td></td>
        <td>@Email</td>
    </tr>
    <tr>
        <td><b>Bets Won:</b></td>
        <td></td>
        <td></td>
        <td>@BetsWon</td>
    </tr>
    <tr>
        <td><b>Bets Lost:</b></td>
        <td></td>
        <td></td>
        <td>@BetsLost</td>
    </tr>
    <tr>
        <td><b>Bets Open:</b></td>
        <td></td>
        <td></td>
        <td>@BetsOpen</td>
    </tr>
</table>

@functions{
    public string Firstname;
    public string Lastname;
    public string Username;
    public string Email;
    public int BetsWon;
    public int BetsLost;
    public int BetsOpen;

    protected override async Task OnInitAsync()
    {
        Firstname = this.detailState.ClickedAccountDetail.Firstname;
        Lastname = this.detailState.ClickedAccountDetail.Lastname;
        Username = this.detailState.ClickedAccountDetail.Username;
        Email = this.detailState.ClickedAccountDetail.Email;

        List<ExtentedBet>
    bets = await Http.GetJsonAsync<List<ExtentedBet>>("api/BetData/GetBetsByAccount/" + this.detailState.ClickedAccountDetail.Id);

        foreach (var bet in bets.Where(x => x.IstAbgeschlossen))
        {
            if (bet.Challenger.Id == this.detailState.ClickedAccountDetail.Id)
            {
                if (bet.ChallengerWon)
                {
                    BetsWon++;
                }
                else
                {
                    BetsLost++;
                }
            }
            else
            {
                if (bet.ChallengerWon)
                {
                    BetsLost++;
                }
                else
                {
                    BetsWon++;
                }
            }
        }

        BetsOpen = bets.Where(x => x.IstAbgeschlossen == false).Count();
    }
}
