@page "/accountdetail"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedIn
@inject betuapp.Client.States.AuthenticationState authenticationState
@inject betuapp.Client.States.DetailState detailState
@using betuapp.Shared
@inject HttpClient Http

<div id="BreadCrumb">
    <a href="/account">AccountDetail</a>
</div>

<br />
<table>
    <tr>
        <td><b>Firstname:</b></td>
        <td></td>
        <td></td>
        <td>@Firstname</td>
    </tr>
    <tr>
        <td><b>Lastname:</b></td>
        <td></td>
        <td></td>
        <td>@Lastname</td>
    </tr>
    <tr>
        <td><b>Username:</b></td>
        <td></td>
        <td></td>
        <td>@Username</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td></td>
        <td></td>
        <td>@Email</td>
    </tr>
    <tr>
        <td><b>Bets Won:</b></td>
        <td></td>
        <td></td>
        <td>@BetsWon</td>
    </tr>
    <tr>
        <td><b>Bets Lost:</b></td>
        <td></td>
        <td></td>
        <td>@BetsLost</td>
    </tr>
    <tr>
        <td><b>Bets Open:</b></td>
        <td></td>
        <td></td>
        <td>@BetsOpen</td>
    </tr>
</table>

@functions{
    public string Firstname;
    public string Lastname;
    public string Username;
    public string Email;
    public int BetsWon;
    public int BetsLost;
    public int BetsOpen;

    protected override async Task OnInitAsync()
    {
        Firstname = this.authenticationState.loggedInAccount.Firstname;
        Lastname = this.authenticationState.loggedInAccount.Lastname;
        Username = this.authenticationState.loggedInAccount.Username;
        Email = this.authenticationState.loggedInAccount.Email;

        List<ExtentedBet> bets = await Http.GetJsonAsync<List<ExtentedBet>>("api/BetData/GetBetsByAccount/" + this.detailState.ClickedAccountDetail.Id);

        foreach (var bet in bets.Where(x => x.IstAbgeschlossen))
        {
            if (bet.Challenger.Id == this.detailState.ClickedAccountDetail.Id)
            {
                if (bet.ChallengerWon)
                {
                    BetsWon++;
                }
                else
                {
                    BetsLost++;
                }
            }
            else
            {
                if (bet.ChallengerWon)
                {
                    BetsLost++;
                }
                else
                {
                    BetsWon++;
                }
            }
        }

        BetsOpen = bets.Where(x => x.IstAbgeschlossen == false).Count();
    }
}