@page "/betdetail"
@using betuapp.Shared
@using Microsoft.AspNetCore.Components
@layout MainLayoutLoggedIn
@inject HttpClient Http
@inject betuapp.Client.States.AuthenticationState authenticationstate
@inject betuapp.Client.States.DetailState detailState
@inject IUriHelper uriHelper

<head>
    <link href="..//css/general.css" rel="stylesheet" />
    <link href="..//css/createbet.css" rel="stylesheet" />
</head>


<div>
    <a id="breadCrumbText" href="/mybets">MyBets</a>
    <a id="breadCrumbText">/</a>
    <a href="/betdetail">@detailState.ClickedBetDetail.Name</a>
</div>
<h1>Bet Detail</h1>
<label>Name:</label>
<input type="text" name="email" placeholder="Name" bind=@Name readonly />
<label>Description:</label>
<textarea type="text" name="pass" placeholder="Description" bind=@Description readonly />
<label>DueDate:</label>
<input type="datetime" name="cpass" placeholder="DueDate" bind=@DueDate readonly />
<label>Tip:</label>
<input type="number" name="cpass" placeholder="Tip" bind=@Tip readonly />
<label>Challenged Account:</label>
<input type="text" name="input" value="@challenged.Username" readonly>
<label>Acceptance Critereas:</label>
<ul>
    @foreach (var criterea in AcceptanceCritereas)
    {
        <li id="listpoint">@criterea.Text</li>
    }
</ul>
<label>Evidence:</label>
<textarea type="text" name="input" style="height: 200px;" bind="@Evidence" />
<label style="display: block;">Consent:</label>
@if (ConsentGiven == false)
{
    <button onclick="@GiveConsent" id="consentButton">Give Consent</button>
}
else
{
    <button onclick="@GiveNotConsent" id="consentButton">Give Consent not</button>
    <div>
        <label style="display: block;">challenger won</label>
        <input type="checkbox" bind="@consentTrue" id="checkboxInput" /><br />
     
    </div>

    <div>
        <label style="display: block;">challenged won</label>
        <input id="checkboxInput"  type="checkbox" bind="@consentFalse" /><br />
    </div>
}



<p class="error">@errormessage</p>
<button onclick="@Save" id="createButton">Save and Back</button>


@functions{
    public string errormessage;
    public string Name;
    public string Description;
    public DateTime DueDate;
    public long Tip;
    public Account challenged;
    public string Evidence;
    public bool consentTrue;
    public bool consentFalse;
    public bool ConsentGiven;
    public List<AcceptanceCriterea> AcceptanceCritereas;

    async Task GiveConsent()
    {
        ConsentGiven = true;
    }
    async Task GiveNotConsent()
    {
        ConsentGiven = false;
    }

    protected override async Task OnInitAsync()
    {
        AcceptanceCritereas = this.detailState.ClickedBetAcceptanceCritereas;
        this.Name = this.detailState.ClickedBetDetail.Name;
        this.Description = this.detailState.ClickedBetDetail.Description;
        this.DueDate = this.detailState.ClickedBetDetail.DueDate;
        this.Tip = this.detailState.ClickedBetDetail.Tip;
        this.challenged = this.detailState.ClickedBetDetail.Challenged;
        this.Evidence = this.detailState.ClickedBetDetail.Evidence;

        if (this.authenticationstate.loggedInAccount.Id == this.detailState.ClickedBetDetail.Challenger.Id)
        {
            ConsentGiven = this.detailState.ClickedBetDetail.ConsentChallengerGiven;
            if (this.detailState.ClickedBetDetail.ConsentChallengerGiven)
            {
                consentTrue = (this.detailState.ClickedBetDetail.ChallengerWonChallenger == true);
                consentFalse = !consentTrue;
            }
        }
        else
        {
            ConsentGiven = this.detailState.ClickedBetDetail.ConsentChallengedGiven;
            if (this.detailState.ClickedBetDetail.ConsentChallengedGiven)
            {
                consentTrue = (this.detailState.ClickedBetDetail.ChallengerWonChallenged == true);
                consentFalse = !consentTrue;
            }
        }
    }

    async Task Save()
    {
        if (ConsentGiven)
        {
            if (consentFalse == true && consentTrue == true)
            {
                errormessage = "invalid consent";
                return;
            }
            if (consentFalse == false && consentTrue == false)
            {
                errormessage = "invalid consent";
                return;
            }
        }

        var bet = this.detailState.ClickedBetDetail;
        bet.Evidence = this.Evidence;

        if (this.authenticationstate.loggedInAccount.Id == this.detailState.ClickedBetDetail.Challenger.Id)
        {
            bet.ConsentChallengerGiven = ConsentGiven;
        }
        else
        {
            bet.ConsentChallengedGiven = ConsentGiven;
        }

        if (this.authenticationstate.loggedInAccount.Id == this.detailState.ClickedBetDetail.Challenger.Id && ConsentGiven)
        {
            bet.ChallengerWonChallenger = this.consentTrue;
            bet.ConsentChallengerGiven = true;
        }
        if (this.authenticationstate.loggedInAccount.Id == this.detailState.ClickedBetDetail.Challenged.Id && ConsentGiven)
        {
            bet.ChallengerWonChallenged = this.consentTrue;
            bet.ConsentChallengedGiven = true;
        }

        if (bet.ChallengerWonChallenger == true && bet.ChallengerWonChallenger == bet.ChallengerWonChallenged && bet.ConsentChallengerGiven && bet.ConsentChallengedGiven)
        {
            bet.IstAbgeschlossen = true;
            bet.ChallengerWon = true;
        }
        if (bet.ChallengerWonChallenger == false && bet.ChallengerWonChallenger == bet.ChallengerWonChallenged && bet.ConsentChallengedGiven && bet.ConsentChallengerGiven)
        {
            bet.IstAbgeschlossen = true;
            bet.ChallengerWon = false;
        }

        if (bet.ConsentChallengedGiven != true || bet.ConsentChallengerGiven != true)
        {
            bet.IstAbgeschlossen = false;
        }

        if (bet.ChallengerWonChallenger != bet.ChallengerWonChallenged)
        {
            bet.IstAbgeschlossen = false;
        }

        var result = await Http.SendJsonAsync<ExtentedBet>(HttpMethod.Post, "api/BetData/UpdateBet", bet);
        this.uriHelper.NavigateTo("/MyBets");
    }
}