@page "/registration"
@using betuapp.Shared
@using Microsoft.AspNetCore.Components
@layout MainLayoutLoggedOut
@inject betuapp.Client.States.AuthenticationState state
@inject IUriHelper uriHelper

    <header>
        <link href="..//css/forms.css" rel="stylesheet" />
        <link href="..//css/navbarLoggedOut.css" rel="stylesheet" />
    </header>

<body>
    <div class="formular">
        <h1>Create your free account</h1>
        <input type="text" name="field1" placeholder="Firstname" bind="@firstname" />
        <input type="text" name="field2" placeholder="Lastname" bind="@lastname" />
        <input type="text" name="field2" placeholder="Username" bind="@username" />
        <input type="email" name="field2" placeholder="Email" bind="@email" />
        <input type="password" name="field2" placeholder="Password" bind="@password" />
        <input type="password" name="field2" placeholder="Password Confirmation" bind="@passwordconfirmation" />
        <p class="error">@errormessage</p>
        <input type="submit" value="Sign Up" onclick=@Register />
    </div>
</body>

@functions
{
    string firstname;
    string lastname;
    string username;
    string email;
    string password;
    string passwordconfirmation;
    string errormessage;

    async Task Register()
    {
        RegisterParameters parameter = new RegisterParameters()
        {
            Email = email,
            Firstname = firstname,
            Lastname = lastname,
            Password = password,
            PasswordConfirmation = passwordconfirmation,
            UserName = username
        };
        await this.state.Register(parameter);
        var regstrationSuccessful = this.state.JustRegisteredAccount.Username != null; 
        if (!regstrationSuccessful)
        {
            errormessage = "there was an error";
        }
        else
        {
            this.uriHelper.NavigateTo("/AccountCreated");
        }
    }
}